body {
  background: #fffffe;
  border-top-color: rgb(35,81,112);
}

div {
}

a {
  background: #ffffff;
  padding-right: 0px;
  padding-left: 0px;
  backdrop-filter: opacity(1) blur(0px) brightness(200%) contrast(101%);
}

