{% extends 'index/layout.html' %}
{% block title %}
{{ exam.title}}
{% endblock %}
{% load static %}
{% block script %}
<script src="{% static 'index/js/exam.js' %}"></script>
<script src="{% static 'lib/cookie.min.js' %}"></script>
{% endblock %}
{% block body %}
<div class = "container-fluid">
    <div class="form-topnav">
        <a href = "/">
            <img src = "{% static 'res/blank-form.png' %}" alt = "Google Forms Icon(CLONE)" class="navbar-icon form-icon" title = "Forms" />
        </a>
        <input class="nav-text nav-form-title edit-on-click input-form-title" value  = "{{ exam.title}}" type="text">
        <div class="float-right">
            <a href="{% url 'exam_view' exam.code %}">
            <img src="{% static 'res/eye.png' %}" alt="Preview icon" title = "Preview" class="nav-form-menu-icon big-screen" />
            </a>
            <img src = "{% static 'res/add.png' %}" class="nav-form-menu-icon" title = "Add question" alt = "Add question icon" id="add-question" />
            <img src="{% static 'res/setting.png' %}" alt="Setting icon" title = "Setting" class="nav-form-menu-icon open-setting" />

        </div>
    </div>
    <div class="form-topnav">
        <div class="form-navigation center">
            {% if exam.is_quiz %}
            <span class="col-4 navigation active">Questions</span>
            <span class="col-4 navigation answer"><a href = "{% url 'answer' exam.code %}" class="link">Answers</a></span>
            <span class="col-4 navigation"><a href = "{% url 'attempts' exam.code %}" class="link">Student Attempts</a></span>
            {% else %}
            <span class="col-6 navigation active">Questions</span>
            <span class="col-6 navigation"><a href = "{% url 'attempts' exam.code %}" class="link">Student Attempts</a></span>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="margin-top-bottom box question-box" id="form-head">
            <div class="form-title-box">
                <input type="text" class="form-title edit-on-click input-form-title txt-clr" value="{{ exam.title}}">
            </div>
            <textarea class="form-description edit-on-click textarea-adjust txt-clr" rows="1" placeholder="Exam description" spellCheck = "false"
            id="input-form-description">{{ exam.description}}</textarea>
            {% if exam.collect_email %}
            <div class="collect-email txt-clr">
                <h3 class="question-title">Email address <span class="require-star">*</span></h3>
                <input type="text" autocomplete="off" aria-label="Valid email address" disabled dir = "auto" class="require-email-edit txtColor"
                placeholder = "Valid email address" />

            </div>
            {% endif %}
        </div>
        {% for question in exam.questions.all %}
        <div class="margin-top-bottom box question-box question" data-id="{{question.id}}">
            <input type="text" data-id="{{question.id}}" class="question-title edit-on-click input-question" value="{{question.question}}">
            <select class="question-type-select input-question-type" data-id="{{question.id}}" data-origin_type = "{{question.question_type}}">
                <option value="short" {% if question.question_type == "short" %}selected{% endif %}>Short answer</option>
                <option value="paragraph" {% if question.question_type == "paragraph" %}selected{% endif %}>Paragraph</option>
                <option value="multiple choice" {% if question.question_type == "multiple choice" %}selected{% endif %}>Multiple choice</option>
                <option value="checkbox" {% if question.question_type == "checkbox" %}selected{% endif %}>Checkbox</option>
            </select>
            {% if question.question_type == "multiple choice" %}
            <div class="choices" data-id="{{question.id}}">
                {% for choice in question.choices.all %}
                    <div class="choice">
                        <input type="radio" id="{{choice.id}}" disabled>
                        <label for="{{choice.id}}">
                            <input type="text" value="{{choice.choice}}" class="edit-choice" data-id="{{choice.id}}">
                        </label>
                        <span class="remove-option" title = "Remove" data-id="{{choice.id}}">&times;</span>
                    </div>
                {% endfor %}
                <div class="choice">
                    <input type = "radio" id = "add-choice" disabled />
                    <label for = "add-choice" class="add-option" data-question="{{question.id}}" data-type = "{{question.question_type}}">Add option</label>
                </div>
            </div>
            {% elif question.question_type == "checkbox" %}
            <div class="choices" data-id="{{question.id}}">
                {% for choice in question.choices.all %}
                    <div class="choice">
                        <input type="checkbox" id="{{choice.id}}" disabled>
                        <label for="{{choice.id}}">
                            <input type="text" data-id="{{choice.id}}" class="edit-choice" value="{{choice.choice}}">
                        </label>
                        <span class="remove-option" title="Remove" data-id="{{choice.id}}">&times;</span>
                    </div>
                {% endfor %}
                <div class="choice">
                    <input type = "checkbox" id = "add-choice" disabled />
                    <label for = "add-choice" class="add-option" id="add-option" data-question="{{question.id}}" data-type = "{{question.question_type}}">Add option</label>
                </div>
            </div>
            {% elif question.question_type == "short" %}
            <div class="answers" data-id="{{question.id}}">
                <input type ="text" class="short-answer" disabled placeholder="Short answer text" />
            </div>
            {% elif question.question_type == "paragraph" %}
            <div class="answers" data-id="{{question.id}}">
                <textarea class="long-answer" disabled placeholder="Long answer text" ></textarea>
            </div>
            {% endif %}
            <div class="choice-option">
                <input type="checkbox" class="required-checkbox" id="required-{{question.id}}" data-id="{{question.id}}" {% if question.required %}checked{% endif %}>
                <label for="required-{{question.id}}" class="required">Required</label>
                <div class="float-right">
                    <img src="{% static 'res/dustbin.png' %}" alt="Delete question icon" class="question-option-icon delete-question" title="Delete question"
                    data-id="{{question.id}}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class="modal" id="setting">
        <div class="modal-content txt-clr">
            <form id="setting-form">
                <span class="modal-close-btn" id="close-setting">&times;</span>
                <h1 class = "modal-title">Setting</h1>
                <h4 class="setting-preview-form small-screen"><a href="{% url 'exam_view' exam.code %}">Preview form here</a></h4>

                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">Confirmation message:</h3>
                        <textarea rows="1" class="confirmation-msg-input edit-on-click textarea-adjust" spellcheck="false"
                         id="comfirmation_message">{{ exam.confirmation_message}}</textarea>
                    </div>
                </div>
                <div class="modal-division">
                    <div class="form-group">
                        <h3 class="modal-subtitle">Respondents can:</h3>
                        <input type="checkbox" id="edit_after_submit" {% if exam.edit_after_submit %}checked{% endif %}>
                        <label for="edit_after_submit" class="setting-form-label">Edit after submit</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="allow_view_answer" {% if exam.allow_view_answer %}checked{% endif %}>
                        <label for="allow_view_answer" class="setting-form-label">View answer</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="form-control btn btn-save-setting">
                    </div>
                </div>
            </form>
            <form id="delete-form" class="modal-division">
                <fieldset class="form-group">
                    <h3 class="delete-form-title">Delete Exam</h3>
                    <p class="delete-form-description">Warning Deletion of an exam is permanent!!</p>
                    <input type="submit" value="Delete" class="form-control delete-form-btn">
                </fieldset>
            </form>
        </div>
    </div>
    <div class="modal" id="send-form">
        <div class="modal-content">
            <span class="modal-close-btn" id="close-send-form">&times;</span>
            <h1 class = "modal-title">Send form</h1>
            <div class="modal-division">
                <h4 class="modal-subtitle">Link:</h4>
                <input type="url" class="form-control" value="http://{{request.get_host}}/exam/{{ exam.code}}/viewform" copy-btn id="copy-url">
            </div>
            <button class="btn btn-submit" copy-btn>Copy</button>
        </div>
    </div>
</div>
{% endblock %}